# Node modules
/node_modules

# Next.js build output
/.next
/out

# Environment variables
.env.local
.env*.local

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
